<%= fields_for @subscription do |f| %>
  <% if @presenter.frequency_shown? %>
    <div class="form-group">
      <%= f.label :frequency %><br>
      <%= f.select :frequency,
        options_for_select(@presenter.frequency_options, @presenter.frequency_default),
        {
          include_blank: true,
        },
        data: {
          placeholder: t('activerecord.attributes.subscription.frequency'),
        },
        class: "form-control",
        style: "width: 100%;"
      %>
    </div>
  <% else %>
    <%= f.hidden_field :frequency, value: @presenter.frequency_default %>
  <% end %>
<% end %>
