<div>
    <small>
    <!-- TODO Refactor to share with credit card -->
    <% if @subscription.total < 0.01 && @subscription.reoccurring_fee.blank? %>
      <%=t('subscriptions.pay_method.edit.no_amount_terms', union: @join_form.union.name) %>
    <% else %>
      <% if @subscription.total > 0 && @subscription.reoccurring_fee.blank? %>
        <%=t('subscriptions.pay_method.edit.just_advance_terms', union: @join_form.union.name, advance: number_to_currency(@subscription.total, locale: locale)) %>
      <% else %>
        <% if @subscription.total > 0 %>
            <%=t('subscriptions.pay_method.edit.reoccurring_with_advance_terms', union: @join_form.union.name, advance: number_to_currency(@subscription.total, locale: locale), reoccurring: number_to_currency(@subscription.reoccurring_fee, locale: locale) ).html_safe %>
        <% else %>
            <%=t('subscriptions.pay_method.edit.reoccurring_terms', union: @join_form.union.name, reoccurring: number_to_currency(@subscription.reoccurring_fee, locale: locale) ).html_safe %>
        <% end %>
      <% end %>
    <% end %>
  	</small>
</div>
