<div id="edit_payroll_deduction" style="<%= "display:none" unless pay_method_default(@subscription) == "PRD" %>">

	<h3><%=t('subscriptions.pay_method.edit.payroll_deduction_title')%></h3>

	<small>
		<%=t('subscriptions.pay_method.edit.payroll_deduction_terms', fee: friendly_fee(@subscription.join_form, 'W'), union: @join_form.union.short_name).html_safe %>
	</small>

</div>