<h2>Payment Details</h2>

<div class="form-group">
  <%= f.label :pay_method %><br>
  <%= f.select :pay_method,
    pay_method_options(@subscription),
    {
        include_blank: true,
    },
    data: {
      placeholder: "Payment Method",
    },
    class: "form-control",
    style: "width: 100%;",
    onchange: "pay_method_change(this)"
  %>
</div>

<%= render 'subscriptions/pay_method/edit_credit_card', f: f %>

<%= render 'subscriptions/pay_method/edit_au_bank_account', f: f %>
