Hi <%=@person.first_name%>

<%=@creator.display_name %> has started designing the <%= @join_form.union.short_name %> join form

It can be viewed here <a href="<%=join_form_url(id: @join_form.id)%>">join_form_url(id: @join_form.id)</a>
