<% if notice.present? %>
	<p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>


<%=render 'title' %>

<%= link_to 'New Join Form', new_union_join_form_path(@supergroup, locale: locale), class: "btn btn-default new-button" %>

<%=render partial: 'join_forms/join_forms' if @join_forms %>
