<% if notice.present? %>
	<p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<div class="col-sm-8 col-sm-offset-2">
	<h2>Editing Join Form</h2>

	<%= render 'form' %>

		<hr/>
		<%= link_to "Permanently Delete This Join Form",join_form_path(@join_form), method: :delete, class: "btn btn-danger ", style: "margin: 15px; color: white", data: {confirm: "Are you really really sure?"} %>
</div>