<% if notice.present? %>
	<p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<h1>Listing Join Forms</h1>

<%= link_to 'New JoinForm', new_join_form_path, class: "btn btn-default new-button" %>
<%= render 'join_forms' %>
<br>

