<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @record_batch.name %>
</p>

<p>
  <strong>Email template:</strong>
  <%= @record_batch.email_template_id %>
</p>

<p>
  <strong>Sms template:</strong>
  <%= @record_batch.sms_template_id %>
</p>
