<div class="col-sm-8 col-sm-offset-2">
	<h1 class="text-center">
		<span class="glyphicon glyphicon-envelope"></span>
		<%= t('.instruction') %> 
	</h1>
	<h2 class="text-center small">
		<%= t('.explanation') %>
	</h2>
</div>
