<div class="col-sm-8 col-sm-offset-2">
	<h1 class="text-center">
		<span class="glyphicon glyphicon-envelope"></span>
		Please check your email and follow the verification link to continue.  
	</h1>
	<h2 class="text-center small">
		We have sent the verification email to the email address already in our system, which may be different to the email you just provided.
	</h2>
</div>
