<% if notice.present? %>
	<p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<div class="col-sm-8 col-sm-offset-2">

	<H1>Vault Security Key for Bank Details</h1>
	<small>This private key has been encrypted with your passphrase, and cannot be recovered without it.</small>
	<br/>
	<p>
		<%=text_area_tag 'key', @union.key_pair, rows:20, class: 'form-control' %>
	</p>
	<%=link_to "Change Passphrase", edit_union_key_path(@union), class: 'btn btn-default' %> 
</div>