// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav-tabs-container {
	border: 1px solid #ddd;
	border-top-color: transparent;
	padding-bottom: 15px;
}