
<div class="row" style="margin-left:0px">
  <div class="col-xs-4">
    <%= join_form.union.short_name if join_form.union %>
  </div>
  <div class="col-xs-3">
    <%= join_form.url %>
  </div>
</div>
<hr/>
